<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Saludo</display-name>
    <servlet-name>Saludo</servlet-name>
    <servlet-class>Controlador.Saludo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Saludo</servlet-name>
    <url-pattern>/Saludo</url-pattern>
  </servlet-mapping>
  <display-name>SociedadCazadoresApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GestionCazador</display-name>
    <servlet-name>GestionCazador</servlet-name>
    <servlet-class>Controlador.GestionCazador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionCazador</servlet-name>
    <url-pattern>/GestionCazador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionGrupo</display-name>
    <servlet-name>GestionGrupo</servlet-name>
    <servlet-class>Controlador.GestionGrupo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionGrupo</servlet-name>
    <url-pattern>/GestionGrupo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionLicencia</display-name>
    <servlet-name>GestionLicencia</servlet-name>
    <servlet-class>Controlador.GestionLicencia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionLicencia</servlet-name>
    <url-pattern>/GestionLicencia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarCazadores</display-name>
    <servlet-name>ListarCazadores</servlet-name>
    <servlet-class>Controlador.ListarCazadores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarCazadores</servlet-name>
    <url-pattern>/ListarCazadores</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarCazador</display-name>
    <servlet-name>ListarCazador</servlet-name>
    <servlet-class>Controlador.ListarCazador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarCazador</servlet-name>
    <url-pattern>/ListarCazador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarLicencia</display-name>
    <servlet-name>ListarLicencia</servlet-name>
    <servlet-class>Controlador.ListarLicencia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarLicencia</servlet-name>
    <url-pattern>/ListarLicencia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestionUsuario</display-name>
    <servlet-name>GestionUsuario</servlet-name>
    <servlet-class>Controlador.GestionUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestionUsuario</servlet-name>
    <url-pattern>/GestionUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Controlador.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
</web-app>